<section class="container mt-2">
	<%- include('./partials/errorMsg.ejs') %>

	<h1 class="mt-2 mb-4"><%= title %></h1>

	<div class="row">
		<% products.forEach(prod => { %>
		<div class="col-md-4">
			<div class="card">
				<img src="<%= prod.image %>" class="card-img-top" alt="" />
				<div class="card-body">
					<h5 class="card-title"><%= prod.name %></h5>
					<p class="card-text">$<%= prod.price %></p>
					<a href="#" class="btn btn-primary">Add to Cart</a>
				</div>
			</div>
		</div>
		<% }) %>
	</div>
</section>
